In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/raw_dataset/bikesharing.csv", index_col="datetime", parse_dates=True)

column_temp = df["temp"]
max_temp = column_temp.max()
min_temp = column_temp.min()

column_atemp = df["atemp"]
max_atemp = column_atemp.max()
min_atemp = column_atemp.min()

column_windspeed = df["windspeed"]
max_windspeed = column_windspeed.max()
min_windspeed = column_windspeed.min()

print(min_temp)
print(max_temp)
df.head()

0.82
41.0

,month,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,rentals
datetime,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
df2 = pd.read_csv("./data/raw_dataset/data_rentals.csv", index_col="instant", parse_dates=True)

df2["temp"] = (df2["temp"]*(max_temp-min_temp)+min_temp).round(1)
df2["atemp"] = (df2["atemp"]*(max_atemp-min_atemp)+min_atemp).round(1)
df2["windspeed"] = (df2["windspeed"]*(max_windspeed-min_windspeed)+min_windspeed).round(2)
df2["humidity"] = df2["humidity"] *100

df2.head()

,date,season,year,month,hour,holiday,weekday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,rentals
instant,,,,,,,,,,,,,,,,
1,2011-01-01,1,0,1,0,0,6,0,1,10.5,13.6,81.0,0.0,3,13,16
2,2011-01-01,1,0,1,1,0,6,0,1,9.7,12.9,80.0,0.0,8,32,40
3,2011-01-01,1,0,1,2,0,6,0,1,9.7,12.9,80.0,0.0,5,27,32
4,2011-01-01,1,0,1,3,0,6,0,1,10.5,13.6,75.0,0.0,3,10,13
5,2011-01-01,1,0,1,4,0,6,0,1,10.5,13.6,75.0,0.0,0,1,1

In [4]:
df2.describe()

,season,year,month,hour,holiday,weekday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,rentals
count,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,20.788429,22.022239,62.722884,10.835041,35.676218,153.786869,189.463088
std,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,7.727340,7.681771,19.292983,6.972543,49.305030,151.357286,181.387599
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.600000,0.800000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,14.500000,15.700000,48.000000,5.960000,4.000000,34.000000,40.000000
50%,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,20.900000,22.400000,63.000000,11.060000,17.000000,115.000000,142.000000
75%,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,27.300000,28.500000,78.000000,14.460000,48.000000,220.000000,281.000000
max,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,41.000000,45.500000,100.000000,48.490000,367.000000,886.000000,977.000000

In [5]:
df2.to_csv('data/0_bike_rental_dataset_raw.csv', header=True);