In [49]:
import pandas as pd
import sys
sys.path.insert(0, '../')
from utilities.utils import Utils
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from plotManager import plotManager

In [50]:
data_path = Utils.load_config("PREPROCESSED_DATASET_PATH")

df = pd.read_csv(data_path, index_col='date', parse_dates=False)
df.drop('instant',axis=1,inplace=True)
df.head()

,year,workingday,temp,humidity,windspeed,rentals,season_1,season_2,season_3,season_4,...,hour_21,hour_22,hour_23,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
date,,,,,,,,,,,,,,,,,,,,,
2011-01-01,0,0,0.226,0.793,0.0,16,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2011-01-01,0,0,0.206,0.783,0.0,40,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2011-01-01,0,0,0.206,0.783,0.0,32,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2011-01-01,0,0,0.226,0.728,0.0,13,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2011-01-01,0,0,0.226,0.728,0.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Building the MLP Model for prediction

In [51]:
y = df['rentals']
X_train, X_test, y_train, y_test = train_test_split(df,y, test_size=0.25, random_state=100)
regressor = MLPRegressor(hidden_layer_sizes=(25), max_iter=300, random_state = 0) 
regressor.fit(X_train, y_train)

MLPRegressor(hidden_layer_sizes=25, max_iter=300, random_state=0)

In [52]:
predicted = regressor.predict(X_test)
predicted

array([272.96347823,  40.07860475,   1.03970841, ...,  12.97285198,
        27.07077482,  54.95545907])

In [53]:
new_df=y_test.copy()
new_df=new_df.to_frame()
new_df['predicted_rentals']=predicted
new_df=new_df.sort_index()
new_df

            rentals  predicted_rentals
date
2011-01-01        8           7.874455
2011-01-01       40          40.078605
2011-01-01       39          38.990893
2011-01-01      110         110.001461
2011-01-01       28          27.991076
...             ...                ...
2012-12-31       19          19.074034
2012-12-31      122         122.055662
2012-12-31        3           3.085206
2012-12-31        9           9.090645
2012-12-31       11          11.085695

[4213 rows x 2 columns]

In [56]:
plotMan = plotManager(new_df)
plotMan.forecast_plot(new_df)

TypeError: forecast_plot() takes 1 positional argument but 2 were given